# Notebook1 Jafuno Douba

## Exercice 1

In [1]:
cath <- read.table('cathedral.txt', header = TRUE)
head(cath)

  nom        style haut long
1 Bath       goth  75   225
2 Bristol    goth  52   300
3 Canterbury rom   80   522
4 Chichester goth  62   418
5 Durham     rom   75   502
6 Ely        rom   74   547

Nombre de cathédrales sont en style romane

In [2]:
length(cath$style == 'rom')

[1] 25

Nom de toutes les cathédrales romaines

In [3]:
cath[cath$style == 'rom', ]$nom

[1] Canterbury   Durham       Ely          Gloucester   Hereford
[6] Norwich      Peterborough St.Albans    Winchester
25 Levels: Bath Bristol Canterbury Chichester Durham Ely Exeter ... York

Les dimensions de cathédrale dans le tableau sont renseignées en pied. Sachant qu'un pied correspond à 0,3048 mètres, transformation les dimensions en mètres. Il suffit de multiplier les colonnes 'long' et 'haut' par 0,3048. De façon générale, il est préférable de ne pas toucher au jeu de données initial, on crée donc des nouvelles colonnes.

In [4]:
cath$haut_metre <- cath$haut*0.3048
cath$long_metre <- cath$long*0.3048
head(cath)

  nom        style haut long haut_metre long_metre
1 Bath       goth  75   225  22.8600     68.5800
2 Bristol    goth  52   300  15.8496     91.4400
3 Canterbury rom   80   522  24.3840    159.1056
4 Chichester goth  62   418  18.8976    127.4064
5 Durham     rom   75   502  22.8600    153.0096
6 Ely        rom   74   547  22.5552    166.7256

Longueur moyenne des cathédrales

In [5]:
mean(cath$long_metre)

[1] 129.6863

Longueur moyenne des cathédrales romanes

In [6]:
mean(cath[cath$style == 'rom', ]$long_metre)

[1] 144.9155

Cathédrales dont la nef est plus haute que 22 mètres.

In [7]:
cath[cath$haut_metre > 22, ]

   nom          style haut long haut_metre long_metre
1  Bath         goth   75  225  22.8600     68.5800
3  Canterbury   rom    80  522  24.3840    159.1056
5  Durham       rom    75  502  22.8600    153.0096
6  Ely          rom    74  547  22.5552    166.7256
9  GloucesterG  goth   86  425  26.2128    129.5400
12 Lincoln      goth   82  506  24.9936    154.2288
13 Norwich      rom    83  407  25.2984    124.0536
15 Old.St.Paul  goth  103  611  31.3944    186.2328
16 Peterborough rom    80  451  24.3840    137.4648
17 Ripon        goth   88  295  26.8224     89.9160
18 Salisbury    goth   84  473  25.6032    144.1704
23 Winchester   rom    76  530  23.1648    161.5440
24 WinchesterG  goth  103  530  31.3944    161.5440
25 York         goth  100  519  30.4800    158.1912

Colonne  rapport longueur/hauteur.

In [8]:
cath$rapport <- cath$long_metre/cath$haut_metre
head(cath)

  nom        style haut long haut_metre long_metre rapport
1 Bath       goth  75   225  22.8600     68.5800   3.000000
2 Bristol    goth  52   300  15.8496     91.4400   5.769231
3 Canterbury rom   80   522  24.3840    159.1056   6.525000
4 Chichester goth  62   418  18.8976    127.4064   6.741935
5 Durham     rom   75   502  22.8600    153.0096   6.693333
6 Ely        rom   74   547  22.5552    166.7256   7.391892

Application de la fonction **summary** au tableau

In [9]:
summary(cath)

         nom      style         haut             long         haut_metre
 Bath      : 1   goth:16   Min.   : 45.00   Min.   :182.0   Min.   :13.72
 Bristol   : 1   rom : 9   1st Qu.: 67.00   1st Qu.:370.0   1st Qu.:20.42
 Canterbury: 1             Median : 75.00   Median :425.0   Median :22.86
 Chichester: 1             Mean   : 74.76   Mean   :425.5   Mean   :22.79
 Durham    : 1             3rd Qu.: 83.00   3rd Qu.:519.0   3rd Qu.:25.30
 Ely       : 1             Max.   :103.00   Max.   :611.0   Max.   :31.39
 (Other)   :19
   long_metre        rapport
 Min.   : 55.47   Min.   :3.000
 1st Qu.:112.78   1st Qu.:5.146
 Median :129.54   Median :5.769
 Mean   :129.69   Mean   :5.714
 3rd Qu.:158.19   3rd Qu.:6.491
 Max.   :186.23   Max.   :7.871

La fonction summary calcule quelques caractéristiques pour chaque variable d'un dataframe.

## Exercice 2

La moyenne empirique est un estimateur de la moyenne. Vérifions empiriquement la qualité de cet estimateur par des simulations.

Génération d'uun échantillon de taille 20 de la loi $\mathcal N(10,1)$.
Calcul de la moyenne et de la variance empiriques associées 
Comparaison du résultat à la moyenne et à la variance théoriques.

En exécutant ces trois lignes une dizaine de fois, on observe toujours un petit écart pour la moyenne et pour la variance.

In [10]:
obs <- rnorm(20,10,1)
mean(obs)
mean(obs)-10

var(obs)
var(obs)-1

[1] 10.28428

[1] 0.284284

[1] 0.7013615

[1] -0.2986385

Même chose pour la loi normale $\mathcal N(10,10)$ et des échantillons de taille $20$. Les écarts sont parfois bien plus importants. C'est normal, car la variance des observations est bien plus élevée.

In [11]:
obs <- rnorm(20,10,sqrt(10))
mean(obs)
mean(obs)-10

var(obs)
var(obs)-10

[1] 9.902683

[1] -0.09731701

[1] 11.0223

[1] 1.022296

## Exercice 3
Pour tout $k$ dans $\{1, 10, 100,1000\}$, génération d'un échantillon de taille $1000$ de la loi de $\chi^2_k$, et comparation la moyenne empirique associée  à la  moyenne de la loi normale $\mathcal N(k,2k)$.

In [12]:
n <- 1000
k <- 1
obs <- rchisq(n,k)
mean(obs) - k

k <- 10
obs <- rchisq(n,k)
mean(obs) - k

k <- 100
obs <- rchisq(n,k)
mean(obs) - k

k <- 1000
obs <- rchisq(n,k)
mean(obs) - k

[1] 0.002981623

[1] 0.1231403

[1] 0.5345904

[1] 0.6104273

En exécutant plusieurs les lignes ci-dessus, on observe que les moyennes des 4 lois de khi-deux sont toujours proches de k

Pour la variance empirique $s_{X}^2$: 

Pour tout $k$ dans $\{1, 10, 100,1000\}$, génération un échantillon de taille $1000$ de la loi de $\chi^2_k$, et comparaison à la variance empirique associée à la variance de la loi normale $\mathcal N(k,2k)$.

In [13]:
k <- 1
obs <- rchisq(n,k)
var(obs) - 2*k

k <- 10
obs <- rchisq(n,k)
var(obs) - 2*k

k <- 100
obs <- rchisq(n,k)
var(obs) - 2*k

k <- 1000
obs <- rchisq(n,k)
var(obs) - 2*k

[1] 0.1518166

[1] -2.62992

[1] 19.28719

[1] -12.729

Pour les 4 lois de khi-deux, les variances empiriques tournent toujours autour de $2k$, mais pour des grandes valeurs de $k$ on observe beaucoup de variabilité. En fait, pour des échantillons de plus grandes taille ($n= 10^6$) l'estimation de la variance empirique est plus stable (et près de $2k$)